.disemvowel_results{
  height:70px;
  text-align:center;
  margin-top:40px;
}

.disemvowel_results{
  height:40%;
  width:60%;
  max-height:400px;
  max-width:600px;
  background-color:white;
  border:2px solid black;
  margin:auto;
  margin-top:20px;
}

.disemvowel_results_div{
  background-color:indianred;
}

.returned_disemvoweled_string{
  background-color:grey;
  border:1px solid black;
}
