.string_indices_results{
  height:40%;
  width:60%;
  max-height:400px;
  max-width:600px;
  background-color:white;
  border:2px solid black;
  margin:auto;
  margin-top:20px;
  overflow:scroll;
}

.string_indices_result_div{
  background-color:skyblue;
}

.string_indices_array_item{
  background-color:grey;
  border-top:1px solid black;
  width:80.3%;
  display:inline-block;
}

.string_indices_position{
  display:inline-block;
  width:19.7%;
  background-color:lightblue;
  border-top: 1px solid black;
}
