.string_permutations_result_div{
  /*background-color:green;*/
  overflow:scroll;
  max-height: 200px;
  /*min-height:40px;*/
  width:60%;
  margin:auto;
  margin-top:20px;
}

.permutations_values{
  display:block;
  background-color:skyblue;
}
