#container {
  width: 100%;;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color:white;
}
#contents {
  height: 100%;
  width:100%;
  margin-left:20%;
  text-align:center;
}
.header{
  background-color:grey;
  color:white;
  font-size:2em;
  margin-bottom:5px;
  padding:10px;
}
.section{
  background-color:gainsboro;
  height:100vh;
  min-height:520px;
}
.content_container{
  padding:0 34px 0 34px;
}
