#app_container {
  width: 100%;;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color:steelblue;
}
#app_contents {
  height: 100%;
  width:100%;
  text-align:center;
}
.header{
  background-color:grey;
  color:white;
  font-size:2em;
  margin-bottom:5px;
  padding:10px;
}
.section{
  background-color:gainsboro;
  height:100vh;
  min-height:520px;
}
.content_container{
  padding:0 34px 0 34px;
}

.appButtonSyling{
  border:none;
  color:grey;
  margin-left:3px;
  height:25px;
}

.appButtonSyling:hover{
  color:white;
  cursor:pointer;
}

.appInputStyling{
  height:20px;
}

.app_code{
  background-color:white;
  border-radius:5px;
  padding:10px;
  list-style:none;
  text-align:left;
}
