.home_container{
  background-color:skyblue;
  height:100vh;
}

.home_title{
  font-size:52px;
  margin-bottom:-20px;
}

.home_title_top{
  font-size:190px;
  margin-bottom:-50px
}

.home_centered{
  padding:60px;
}

.home_content_container{
  width:70%;
  margin:auto;
  margin-top:35px;
}
