.english_to_braille_result_header{
  background-color:silver;
  width:60%;
  margin:auto;
  margin-top: 30px;
  margin-bottom: -20px;
  border-top:2px solid black;
  border-left:2px solid black;
  border-right:2px solid black;
}

.english_to_braille_div{
  background-color:white;
  overflow:scroll;
  min-height:60px;
  max-height:60px;
  width:60%;
  margin:auto;
  margin-top:20px;
  border-left:2px solid black;
  border-right:2px solid black;
  border-bottom:2px solid black;
  text-align: center;
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
}

.english_to_braille_result_content{
  text-align: left;
  padding: 0 10px 10px 10px;
}
