#nav_navBar {
  width: 20%;
  height:100%;
  background-color:steelblue;
  color:white;
  min-width:200px;
}

.nav_link{
  font-size:1em;
  text-align:center;
  background-color:transparent;
  border:none;
  color:white;
  display:block;
  width:200px;
  padding: 10px 0 10px 0;
}

.nav_header{
  font-size:2em;
  text-align:center;
  margin: 20px 0 20px 0;
}

.nav_Link:focus {
  text-decoration: none;
  outline:none;
  border: none;
  box-shadow: none;
}

.nav_link:hover{
  color:orange;
  cursor:pointer;
}

.nav_fontAwesome{
  text-align:center;
  width:100%;
  margin-top:20px;
}

.nav_fontAwesome:hover{
  cursor:pointer;
}

a{
  color:inherit;
}

.incomplete{
  color:rgb(95,130,180);
}

.incomplete:hover{
  color:rgb(95,130,180);
}

.hamburgerBtn{
  display:none;
}

.nav_link:focus{
  outline:none;
}



@media (min-width: 0px) and (max-width:454px) {
  #nav_navBar{
    background-color:steelblue;
    width:100%;
    position:absolute;
    margin:auto;
    height:0;
    z-index:4;
  }
  .nav_top{
    background-color:steelblue;
  }
  .nav_links{
    background-color:steelblue;
  }
  .nav_link{
    margin:auto;
    border-bottom:1px solid black;
    width:100%;
    padding:9px;
  }
  .hamburgerBtn{
    display:block;
  }
  .guess_nav_link{
    box-shadow: inset 0 3px 9px -3px #000000;
  }
  .header{
    box-shadow: inset 0 3px 5px -3px #000000;
  }
  .display_none{
    display:none;
  }

  .display_block{
    display:block;
  }
}

@media (min-width: 454px) and (max-width:850px) {
  #nav_navBar{
    background-color:orange;
    width:100%;
    position:absolute;
    margin:auto;
    height:0;
  }
  .nav_top{
    background-color:steelblue;
    padding-bottom:3px;
  }
  .nav_links{
    background-color:steelblue;
    display:none;
    box-shadow: inset 0 3px 5px -3px #000000;
  }
  .nav_link{
    display:inline-block;
    width:33.33%;
    font-size:15px;
    border-left:1px solid black;
    border-bottom:1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav_header{
    margin:auto;
    font-size:25px;
    width:90%;
    border-bottom:none;
    padding-left:100px;
  }
  .nav_fontAwesome{
    display:none;
  }
  .hamburgerBtn{
    width:10%;
    border:none;
    position:absolute;
    padding-top:18px;
  }
  #content_page{
    margin-top:40px;
  }
  .display_none{
    display:none;
  }

  .display_block{
    display:block;
  }
  .nav_finite_state_gate{
    width:100%;
  }
}
